h1{
    color:blue;
    font-size: 80px;
    margin: 0 auto;
    padding:5% 2%; 
    height: 100px; 
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
      background-image: url("../images/forrest-gump-bench.jpg"); 
}
a,li{
    font-size:40px;
    color: black;
    text-align: left;
    text-decoration-line: none;
    font-weight:400px;
}
a:hover{
    
        border:2px solid blue;
        background-color: lightskyblue;
        display: block;
        min-width:350px;
        text-align: center;       
}
li{
    
    display:table;
    margin:0px auto 0px auto;
    font-size:40px;

}

div{
    font-size:30px;
    color: black;
    
}
#quetionId{
    padding: 2% 10%;
    
}

#buttonId{

    width: 500px;    
    height: 60px;
    background:lightskyblue;
    font-size: 50px;
    display: flex;
    margin: 5% auto;
    justify-content: center;
    font-weight: bold;
    border: 2px solid blue;

}
#buttonId:hover
{
    color:blue;
    border: 1px solid black;
}
p,#timer,#quetionId,h1,h3{
    text-align: center;
}
p{
    padding:1% 0;
}
img{
    display:block;
    margin:auto;
    border:1px solid black;
    width:400px;
    height:200px;
}